<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>安全管理</string>
		<key>right</key>
		<string>10002</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>1</string>
				<key>imageName</key>
				<string>安全目标</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>安全目标</string>
				<key>right</key>
				<string>10005</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>2</string>
				<key>imageName</key>
				<string>安全管理说明</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>安全管理说明</string>
				<key>right</key>
				<string>10006</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>3</string>
				<key>imageName</key>
				<string>管理网络</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>管理网络</string>
				<key>right</key>
				<string>10007</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>4</string>
				<key>imageName</key>
				<string>总包单位</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>总包单位</string>
				<key>right</key>
				<string>10008</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>5</string>
				<key>imageName</key>
				<string>分包单位</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>分包单位</string>
				<key>right</key>
				<string>10009</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>6</string>
				<key>imageName</key>
				<string>安全事故处理</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>安全事故处理</string>
				<key>right</key>
				<string>10010</string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>right</key>
				<string></string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>right</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_mcloth</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>安全验收</string>
		<key>right</key>
		<string>10003</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>7</string>
				<key>imageName</key>
				<string>设施验收</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>设施验收</string>
				<key>right</key>
				<string>10011</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>8</string>
				<key>imageName</key>
				<string>设备验收</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>设备验收</string>
				<key>right</key>
				<string>10012</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>9</string>
				<key>imageName</key>
				<string>劳动用品验收</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>劳动用品验收</string>
				<key>right</key>
				<string>10013</string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>right</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_digital</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>危险源识别</string>
		<key>right</key>
		<string>10004</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>10</string>
				<key>imageName</key>
				<string>专项方案</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>专项方案</string>
				<key>right</key>
				<string>10014</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>11</string>
				<key>imageName</key>
				<string>应急预案</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>应急预案</string>
				<key>right</key>
				<string>10015</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>12</string>
				<key>imageName</key>
				<string>应急演练</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>应急演练</string>
				<key>right</key>
				<string>10016</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>13</string>
				<key>imageName</key>
				<string>相关措施</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>相关措施</string>
				<key>right</key>
				<string>10017</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>14</string>
				<key>imageName</key>
				<string>安全平面图</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>安全平面图</string>
				<key>right</key>
				<string>10018</string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>right</key>
				<string></string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>right</key>
				<string></string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>right</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_bag</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>安全教育</string>
		<key>right</key>
		<string>10032</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50072921,50072925</string>
				<key>imageName</key>
				<string>职工教育记录</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>职工教育记录</string>
				<key>right</key>
				<string>10024</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025861</string>
				<key>imageName</key>
				<string>安全技术交流</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>安全技术交流</string>
				<key>right</key>
				<string>10025</string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>right</key>
				<string></string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>right</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_cosmetic</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>建筑机械设备维修保养</string>
		<key>right</key>
		<string>10034</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026502</string>
				<key>imageName</key>
				<string>小型机具保养</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>小型机具保养</string>
				<key>right</key>
				<string>10027</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50029231</string>
				<key>imageName</key>
				<string>大型设备维修保养</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>大型设备维修保养</string>
				<key>right</key>
				<string>10028</string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>right</key>
				<string></string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>right</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
